<div class="account screen background-color background-color-white background-color-frosted d-none" id="account">
    <div class="container-fluid px-4 py-4">
        <div class="row">
            <div class="col-auto">
                <button class="button-icon button-icon-black btn" id="account-close-button">
                    <%- include("../../icons/close") %>
                </button>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="content-xs col">
                <p class="text-size-lg text-color-black fw-bold mb-1">Account</p>
                <div class="py-4">
                    <p class="text-size-md text-color-black fw-bold mb-1">Account Security</p>
                    <div class="py-3">
                        <p class="text-size-sm mb-1">Sign Out</p>
                        <p class="text-size-sm text-color-black">This option safely terminates your session.</p>
                        <button class="button-plain button-plain-orange text-size-xs btn px-0" id="account-sign-out-button">Sign Out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>