<div class="satellite screen background-color background-color-white d-none" id="satellite">
    <div class="container-fluid px-4 py-4">
        <div class="row">
            <div class="col-auto">
                <button class="button-icon button-icon-black btn" id="satellite-close-button">
                    <%- include("../../icons/close") %>
                </button>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="content-xs col">
                <p class="text-size-lg text-color-black fw-bold mb-1">Satellite</p>
                <p class="text-size-sm">Access and modify important satellite data of SatTrack-Arcturus directly from this centralized page. Simplify the process of adjusting crucial parameters.</p>
                <div class="py-4">
                    <p class="text-size-md text-color-black fw-bold mb-1">Satellite Management</p>
                    <div class="py-3">
                        <p class="text-size-sm mb-1">Update Two-Line Element Set</p>
                        <p class="text-size-sm text-color-black" id="satellite-update-tle-notice">Use this option if you want to update the two-line element set of one or more satellites.</p>
                        <button class="button-plain button-plain-blue text-size-xs btn px-0" id="satellite-update-tle-button">Update Two-Line Element Set</button>
                        <input class="d-none" type="file" id="satellite-update-tle-file">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>