<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<meta name="description" content="" />
<!-- Favicon -->
<link rel="icon" href="" />
<link rel="apple-touch-icon" sizes="180x180" href="">
<!-- Open Graph -->
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<title>
    <%= title %>
</title>