$red: #e74c3c;
$green: #2ecc71;
$blue: #3498db;
$violet: #9b59b6;
$orange: #fd9644;
$pink: #fd79a8;
$silver: #bdc3c7;
$gray: #95a5a6;
$black: #000;
$white: #fff;
$seashell: #ecf0f1;
$midnight: #2c3e50;