<div class="col-auto text-center mt-4 mt-sm-5">
    <div class="d-flex justify-content-center align-items-center">
        <div id="<%= id %>" class="icon-container icon-container-md icon-container-color-seashell cursor-pointer d-flex justify-content-center align-items-center">
            <img class="d-block" alt="<%= title %>" src="<%= icon %>" width="25" height="25">
        </div>
    </div>
    <p class="text-size-sm mt-2 mb-0"><%= title %></p>
</div>