.theme-light {
    --navigation-menu-background-blur: 15px;
    --heading-font-weight: 700;
    --heading-font-color: #000;
    --font-family: 'Montserrat', sans-serif;
    --font-size: 1rem;
    --font-weight: 500;
    --font-color: #636e72;
}