<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/layout/head") %>
</head>

<body id="privacy" class="privacy theme-light">
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="../images/apple-touch-icon.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0">SatTrack</p>
                                <p class="text-size-xs mb-0">Arcturus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-xs col">
                        <h1 class="text-size-lg mb-2">Privacy</h1>
                        <p class="text-size-sm">Welcome to SatTrack-Arcturus ("we," "our," "us"). This Privacy Policy explains how we collect, use, and protect your personal information when you use our website and RESTful API for tracking and predicting the orbit of artificial satellites. By using SatTrack-Arcturus, you agree to the collection and use of your information in accordance with this policy.</p>
                        <h2 class="text-size-md mt-5 mb-2">Information We Collect</h2>
                        <ul>
                            <li class="text-size-sm mb-2"><strong>Personal Information:</strong> When you create an account on our website, we collect personal information such as your name, email address, and password. This information is used to create and manage your account and API keys.</li>
                            <li class="text-size-sm mb-2"><strong>API Usage Data:</strong> We collect data regarding your usage of our API, including the requests you make, the responses returned, and other relevant details. This information is used to monitor and improve our service.</li>
                            <li class="text-size-sm"><strong>Technical Data:</strong> We automatically collect technical information such as your IP address, browser type, operating system, and other related information when you use our website or API. This data helps us analyze traffic and improve user experience.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../../partials/layout/footer") %>
</body>

</html>