.animation-size-xs {
    width: 25px;
    height: 25px;
}

.animation-size-sm {
    width: 50px;
    height: 50px;
}

.animation-size-md {
    width: 75px;
    height: 75px;
}

.animation-size-lg {
    width: 100px;
    height: 100px;
}

.animation-size-xl {
    width: 125px;
    height: 125px;
}