@use "../utilities/colors";

.background-color-white {
    background-color: colors.$white;
}

.background-color-seashell {
    background-color: colors.$seashell;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-image-space {
    background-image: url("https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1694347963/sattrack-arcturus/backgrounds/space_dqoblf.jpg");
}