@use "../utilities/colors";

.background-color-red {
    background-color: colors.$red;
}

.background-color-green {
    background-color: colors.$green;
}

.background-color-blue {
    background-color: colors.$blue;
}

.background-color-white {
    background-color: colors.$white;
}

.background-color-pink {
    background-color: colors.$pink;
}

.background-color-seashell {
    background-color: colors.$seashell;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}