@use "../utilities/mixins";

.button-icon {
    display: block;
    padding: 0;

    svg {
        @include mixins.icon-svg($size: 20px, $color: var(--navigation-icon-color));
    }
}

.button-pill,
.button-capsule,
.button-plain {
    font-weight: 500;
}

.button-pill,
.button-capsule {
    border-radius: 20px;
}

.button-pill-blue {
    background-color: #3498db;
    color: #fff;

    &:hover {
        background-color: #3498db;
        color: #000;
    }
}

.button-capsule-white {
    border: 1px solid #fff;
    color: #fff;

    &:hover {
        border: 1px solid #95a5a6;
        color: #95a5a6;
    }
}

.button-plain-white {
    color: #fff;

    &:hover {
        color: #95a5a6;
    }
}