.form-field {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        background-color: #ecf0f1;
        color: #000;
        border: none;
        border-radius: 10px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;

        &:focus {
            color: #000;
            box-shadow: none;
        }
    }
}

.form-item {
    cursor: pointer;
}