@use "../utilities/colors";
@use "../utilities/mixins";

.icon-container {
    svg {
        display: block;
    }
}

.icon-container-sm {
    @include mixins.shape-square($size: 30px, $border-radius: 10px);

    svg {
        width: 18px;
        height: 18px;
    }
}

.icon-container-md {
    @include mixins.shape-square($size: 60px, $border-radius: 15px);

    svg {
        width: 36px;
        height: 36px;
    }
}

.icon-container-color-seashell {
    background-color: colors.$seashell;

    svg {
        color: colors.$black;
    }
}

.icon-container-color-midnight {
    background-color: colors.$midnight;

    svg {
        color: colors.$white;
    }
}