.text-size-xs {
    font-size: 0.6rem;
}

.text-size-sm {
    font-size: 0.8rem;
}

.text-size-md {
    font-size: 1rem;
}

.text-size-lg {
    font-size: 1.2rem;
}

.text-size-xl {
    font-size: 1.4rem;
}

.text-size-xxl {
    font-size: 4rem;
}

.text-color-blue {
    color: #3498db;
}

.text-color-white {
    color: #fff;
}

.text-color-amethyst {
    color: #9b59b6;
}