@use "../utilities/colors";

.text-size-xs {
    font-size: 0.6rem;
}

.text-size-xs-plus {
    font-size: 0.7rem;
}

.text-size-sm {
    font-size: 0.8rem;
}

.text-size-sm-plus {
    font-size: 0.9rem;
}

.text-size-md {
    font-size: 1rem;
}

.text-size-md-plus {
    font-size: 1.1rem;
}

.text-size-lg {
    font-size: 1.2rem;
}

.text-size-lg-plus {
    font-size: 1.3rem;
}

.text-size-xl {
    font-size: 1.4rem;
}

.text-size-xl-plus {
    font-size: 1.5rem;
}

.text-size-xxl {
    font-size: 4rem;
}

.text-color-red {
    color: colors.$red;
}

.text-color-green {
    color: colors.$green;
}

.text-color-blue {
    color: colors.$blue;
}

.text-color-violet {
    color: colors.$violet;
}

.text-color-orange {
    color: colors.$orange;
}

.text-color-pink {
    color: colors.$pink;
}

.text-color-black {
    color: colors.$black;
}

.text-color-white {
    color: colors.$white;
}