<div class="account screen background-color background-color-white d-none" id="account">
    <div class="container-fluid px-4 py-4">
        <div class="row">
            <div class="col-auto">
                <button class="button-icon button-icon-black btn" id="account-close-button">
                    <%- include("../../icons/close") %>
                </button>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="content-xs col">
                <p class="text-size-md text-color-black fw-bold mb-1">Account</p>
                <p class="text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam corrupti molestiae distinctio minus mollitia magnam et.</p>
            </div>
        </div>
    </div>
</div>