<div class="keys screen background-color background-color-white d-none" id="keys">
    <div class="container-fluid px-4 py-4">
        <div class="row">
            <div class="col-auto">
                <button class="button-icon button-icon-black btn" id="keys-close-button">
                    <%- include("../../icons/close") %>
                </button>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="content-xs col">
                <p class="text-size-lg text-color-black fw-bold mb-1">Keys</p>
                <p class="text-size-sm">Effortlessly manage and secure your keys with our intuitive platform. Customize permissions, monitor usage, and ensure streamlined control in just a few clicks.</p>
                <%- include("../../forms/field", { attributes: { id: 'keys-hidden-username-form', type: 'hidden', value: user.username } }) %>
                <div class="py-4">
                    <p class="text-size-md text-color-black fw-bold mb-1">Key Management</p>
                    <div class="py-3">
                        <p class="text-size-sm mb-1">Generate Key</p>
                        <p class="text-size-sm text-color-black" id="keys-generate-key-notice">Use this option if you want to generate a key. It is advisable to employ distinct keys for each application to enhance security.</p>
                        <div class="mb-2 d-none" id="generate-key">
                            <%- include("../../forms/field", { attributes: { id: 'generate-key-name-form', type: 'text', placeholder: 'Name', required: 'required' } }) %>
                        </div>
                        <button class="button-plain button-plain-blue text-size-xs btn px-0" id="keys-generate-key-button">Generate Key</button>
                        <button class="button-plain button-plain-blue text-size-xs btn px-0 d-none" id="keys-copy-key-button">Copy Key</button>
                    </div>
                    <div class="py-3">
                        <p class="text-size-sm mb-1">Manage Keys</p>
                        <p class="text-size-sm text-color-black" id="keys-generate-key-notice">This section allows you to monitor, delete, and seamlessly manage your keys.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>