<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/layout/head") %>
</head>

<body id="start" class="start theme-light">
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="../images/apple-touch-icon.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0">SatTrack</p>
                                <p class="text-size-xs mb-0">Arcturus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-xs col">
                        <h1 class="text-size-lg mb-2">Getting Started</h1>
                        <p class="text-size-sm">Welcome! This page will help you set up and utilize our powerful satellite tracking and prediction capabilities. SatTrack-Arcturus is a robust RESTful API crafted with Node.js and Express, specifically engineered to predict satellite orbits using the Simplified General Perturbations-4 (SGP4) model.</p>
                        <h2 class="text-size-md mt-5 mb-2">Create an Account</h2>
                        <p class="text-size-sm">To start using our APIs, sign up for an account using our registration page. After filling in your details and agreeing to our terms, proceed to your account dashboard and follow the next step.</p>
                        <h2 class="text-size-md mt-5 mb-2">Generate a Key</h2>
                        <p class="text-size-sm">From your account dashboard, locate and click <strong>Keys</strong>. This will take you to a page where you can create and manage your API keys.</p>
                        <img class="img-fluid my-4" alt="Dashboard" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1732561758/sattrack-arcturus/screenshots/dashboard_zap3yu.png" width="3287" height="1884">
                        <p class="text-size-sm">On <strong>Keys</strong>, click <strong class="text-color-blue">Generate Key</strong> to generate a new API key. Give your key a descriptive name to help you remember the purpose of this key.</p>
                        <img class="img-fluid my-4" alt="Keys" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1732561780/sattrack-arcturus/screenshots/keys_odsjci.png" width="3287" height="1884">
                        <p class="text-size-sm">Be sure to <strong class="text-color-red">copy and securely store your API key</strong>. This key is used to authenticate your API requests and will not be displayed again for security reasons.</p>
                        <h2 class="text-size-md mt-5 mb-2">Send a Request</h2>
                        <p class="text-size-sm">Now that you have successfully generated your API key, you can start making requests to our APIs. As an example, let's track the <strong>International Space Station (ISS)</strong> using its <strong class="text-color-violet">NORAD ID (25544).</strong></p>
                        <pre class="mb-3"><code class="language-bash">curl -X GET "<%= process.env.URL %>/api/satellites/25544/orbit" -H "x-key: 65f4b4ac7ed8b0ee4708762d-82127ab2-5f7d-43ab-8bdb-1b5f6e7495c0"</code></pre>
                        <p class="text-size-sm">Upon successful validation of your API key, the server will deliver a JSON response outlining the projected orbit of the ISS. This data includes current position coordinates, altitude, and timestamps indicating the time of calculation or validity.</p>
                        <pre class="mb-3">
                            <code class="language-json">
                                [
                                    {
                                        "latitude": -29.83176282952035,
                                        "longitude": -17.791634597028697,
                                        "altitude": 425.47637939396554,
                                        "timestamp": 1722302245049
                                    },
                                    {
                                        "latitude": -29.877054251036,
                                        "longitude": -17.742749072591728,
                                        "altitude": 425.50155548510884,
                                        "timestamp": 1722302246049
                                    },
                                    {
                                        "latitude": -29.92232380592562,
                                        "longitude": -17.693815963397814,
                                        "altitude": 425.5267315227802,
                                        "timestamp": 1722302247049
                                    },
                                    {
                                        "latitude": -29.96757325655348,
                                        "longitude": -17.64483318980932,
                                        "altitude": 425.5519084407706,
                                        "timestamp": 1722302248049
                                    },
                                    {
                                        "latitude": -30.012798904215092,
                                        "longitude": -17.59580458571464,
                                        "altitude": 425.57708413411547,
                                        "timestamp": 1722302249049
                                    },
                                    {
                                        "latitude": -30.058002511925817,
                                        "longitude": -17.546728075249344,
                                        "altitude": 425.6022595365748,
                                        "timestamp": 1722302250049
                                    },
                                    {
                                        "latitude": -30.10318402170901,
                                        "longitude": -17.49760354885829,
                                        "altitude": 425.6274345690126,
                                        "timestamp": 1722302251049
                                    },
                                    {
                                        "latitude": -30.14834337538912,
                                        "longitude": -17.448430898218447,
                                        "altitude": 425.6526091522146,
                                        "timestamp": 1722302252049
                                    },
                                    {
                                        "latitude": -30.19348051470075,
                                        "longitude": -17.399210016526993,
                                        "altitude": 425.6777832069938,
                                        "timestamp": 1722302253049
                                    },
                                    {
                                        "latitude": -30.23859538127006,
                                        "longitude": -17.349940795188193,
                                        "altitude": 425.7029566541378,
                                        "timestamp": 1722302254049
                                    }
                                ]
                            </code>
                        </pre>
                        <p class="text-size-sm">That's it! Should you have any questions or need further assistance while using our services, please feel free to reach out. Our team is ready and eager to help you make the most of our API. Happy tracking!</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../../partials/layout/footer") %>
</body>

</html>