<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/layout/head") %>
</head>

<body id="start" class="start theme-light">
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="<%= images.icon %>" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0">SatTrack</p>
                                <p class="text-size-xs mb-0">Arcturus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-xs col">
                        <h1 class="text-size-lg mb-2">Support</h1>
                        <p class="text-size-sm">SatTrack-Arcturus is committed to providing reliable service and dependable assistance. This page will help you find the resources you need to resolve issues and access support.</p>
                        <h2 class="text-size-md mt-5 mb-2">Frequently Asked Questions</h2>
                        <p class="text-size-sm">Before contacting support, please review the list of commonly asked questions below. Many frequently encountered issues are covered here, and you may find the solution you need without having to reach out.</p>
                        <div class="accordion accordion-flush" id="faq-accordion">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="faq-accordion-heading-one">
                                    <button class="button-plain button-plain-blue text-size-sm btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-accordion-collapse-one" aria-expanded="false" aria-controls="faq-accordion-collapse-one">What is SatTrack-Arcturus?</button>
                                </h3>
                                <div id="faq-accordion-collapse-one" class="accordion-collapse collapse" aria-labelledby="faq-accordion-heading-one" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p class="text-size-sm">SatTrack-Arcturus is a RESTful API built with Node.js and Express that lets you track and predict the orbit of artificial satellites through the use of the Simplified General Perturbations-4 (SGP4) model.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="faq-accordion-heading-two">
                                    <button class="button-plain button-plain-blue text-size-sm btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-accordion-collapse-two" aria-expanded="false" aria-controls="faq-accordion-collapse-two">Do I need to understand orbital mechanics to use the API?</button>
                                </h3>
                                <div id="faq-accordion-collapse-two" class="accordion-collapse collapse" aria-labelledby="faq-accordion-heading-two" data-bs-parent="#faq-accordion">
                                    <div class="accordion-body">
                                        <p class="text-size-sm">Not at all. SatTrack-Arcturus handles all the complex mathematics for you. You simply provide a valid TLE (Two-Line Element), and the API takes care of the rest.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../../partials/layout/footer") %>
</body>

</html>