@use "../utilities/mixins";

.home {
    .sign-in,
    .sign-up {
        @include mixins.position-fixed($left: 0, $right: 0, $top: 0, $bottom: 0);

        background-color: #fff;
        overflow-y: auto;
        z-index: 1;
    }
}