<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body id="dashboard" class="dashboard theme-light">
    <main>
        <section class="vh-100">
            <div class="background-image background-image-space shadow-lg h-100 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <img class="rounded-circle shadow-lg mb-4" alt="Picture" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1696090301/sattrack-arcturus/icons/izb0sv32srhv0vwzfjbn.png" width="100" height="100">
                    <h1 class="text-color-white mb-0">Dashboard</h1>
                    <p class="text-color-white fw-bold"><%= user.name %></p>
                    <img class="mt-4" alt="Arrow Down" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1692282471/sattrack-arcturus/icons/arrow-down_sk6dj4.gif" width="25" height="25">
                    <p class="text-size-sm text-color-white mt-2">Scroll Down</p>
                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-md">
                                <div class="background-color background-color-seashell card-basic card shadow-lg border-0 px-5 py-5">
                                    <h3>Account</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, nemo sint?</p>
                                </div>
                            </div>
                            <div class="col-md mt-3 mt-md-0">
                                <div class="background-color background-color-seashell card-basic card shadow-lg border-0 px-5 py-5">
                                    <h3>Keys</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, nemo sint?</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 mt-md-4">
                            <div class="col-md">
                                <div class="background-color background-color-seashell card-basic card shadow-lg border-0 px-5 py-5">
                                    <h3>Documentation</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, nemo sint?</p>
                                </div>
                            </div>
                            <div class="col-md mt-3 mt-md-0">
                                <div class="background-color background-color-seashell card-basic card shadow-lg border-0 px-5 py-5">
                                    <h3>Satellite</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, nemo sint?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>