<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body id="dashboard" class="dashboard theme-light">
    <main>

    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>