<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body id="home" class="home theme-light">
    <%- include("../partials/pages/sign-in") %>
    <%- include("../partials/pages/sign-up") %>
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="images/apple-touch-icon.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0">SatTrack</p>
                                <p class="text-size-xs mb-0">Arcturus</p>
                            </div>
                            <div class="col my-auto">

                            </div>
                            <div class="col-auto my-auto">
                                <button class="button-pill button-pill-seashell text-size-xs btn" id="sign-in-button">Sign in</button>
                                <button class="button-plain button-plain-blue text-size-xs btn" id="sign-up-button">Sign up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-sm col text-center">
                        <h2>Track with ease.</h2>
                        <p class="text-size-sm">SatTrack-Arcturus is a RESTful API built with Node.js and Express that lets you track and predict the orbit of artificial satellites through the use of the Simplified General Perturbations-4 (SGP4) model.</p>
                        <img class="img-fluid mt-5" alt="SatTrack-X" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1676133708/jpvitan-website/sattrack-x/samsung_kpuoje.png" width="1527" height="2273">
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>