<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body class="home theme-light">
    <div class="account">
        <%- include("../partials/pages/sign-in") %>
        <%- include("../partials/pages/sign-up") %>
    </div>
    <main>
        <section class="vh-100">
            <div class="background-image background-image-space card-feature card shadow-lg border-0 h-100">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <div class="content-xs text-center px-4 py-4">
                        <img class="shadow-lg mb-4" alt="SatTrack-Arcturus" src="images/apple-touch-icon.png" width="70" height="70">
                        <p class="text-size-sm text-color-white"><strong class="text-color-orange">SatTrack-Arcturus</strong> is a RESTful API built with Node.js and Express that lets you retrieve useful satellite information by providing identifiers assigned by the North American Aerospace Defense Command (NORAD).</p>
                        <p class="text-size-sm text-color-white">Built by <a href="https://jpvitan.com/" class="text-color-blue fw-bold">Justine Paul Vitan</a> as a solo project to demonstrate his capabilities in developing back-end applications with JavaScript-based frameworks.</p>
                        <button class="button button-outline-white btn px-4 py-2 mt-4" id="account-sign-in-button">Sign in</button>
                        <button class="button button-text-white btn px-4 py-2 mt-4" id="account-sign-up-button">Sign up</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>