<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body class="theme-light">
    <main class="home">
        <section class="vh-100">
            <div class="card-feature card-color-black card shadow-lg border-0 h-100 d-flex justify-content-center align-items-center">
                <div class="content-xs text-center px-4 py-4">
                    <img class="shadow-lg mb-4" alt="SatTrack-Arcturus" src="images/apple-touch-icon.png" width="70" height="70">
                    <p class="text-size-sm text-color-white"><strong class="text-color-amethyst">SatTrack-Arcturus</strong> is a RESTful API built with Node.js and Express that lets you retrieve useful satellite information by providing identifiers assigned by the North American Aerospace Defense Command (NORAD).</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>