<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body id="start" class="start theme-light">
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="images/apple-touch-icon.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0">SatTrack</p>
                                <p class="text-size-xs mb-0">Arcturus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-xs col">
                        <h1 class="text-size-lg mb-2">Getting Started</h1>
                        <p class="text-size-sm">Welcome! This page will help you set up and utilize our powerful satellite tracking and prediction capabilities. SatTrack-Arcturus is a robust RESTful API crafted with Node.js and Express, specifically engineered to predict satellite orbits using the Simplified General Perturbations-4 (SGP4) model.</p>
                        <h2 class="text-size-md mt-5 mb-2">Create an Account</h2>
                        <p class="text-size-sm">To start using our APIs, sign up for an account using our registration page. After filling in your details and agreeing to our terms, proceed to your account dashboard and follow the next step.</p>
                        <h2 class="text-size-md mt-5 mb-2">Generate a Key</h2>
                        <p class="text-size-sm">From your account dashboard, locate and click <strong>Keys</strong>. This will take you to a page where you can create and manage your API keys.</p>
                        <img class="img-fluid shadow-sm mb-3" alt="Dashboard" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1721416012/sattrack-arcturus/screenshots/dashboard_rcqpok.png" width="1170" height="2532">
                        <p class="text-size-sm">On <strong>Keys</strong>, click <strong class="text-color-blue">Generate Key</strong> to generate a new API key. Give your key a descriptive name to help you remember the purpose of this key.</p>
                        <img class="img-fluid shadow-sm mb-3" alt="Keys" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1721498698/sattrack-arcturus/screenshots/keys_movljm.png" width="1170" height="2532">
                        <p class="text-size-sm">Be sure to <strong class="text-color-red">copy and securely store your API key</strong>. This key is used to authenticate your API requests and will not be displayed again for security reasons.</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>