<div class="form-field container-fluid px-0">
    <div class="row g-0">
        <div class="col">
            <input class="form-control text-size-sm" id="<%= id %>" type="<%= typeof type != 'undefined' ? type : 'text' %>" placeholder="<%= typeof placeholder != 'undefined' ? placeholder : '' %>" />
        </div>
    </div>
</div>