<div class="form-field container-fluid px-0">
    <div class="row g-0">
        <div class="col">
            <input class="form-control border shadow text-size-sm" <% Object.keys(attributes).forEach((key) => { %> <%= key %>="<%= attributes[key] %>" <% }); %>>
        </div>
    </div>
</div>