<div class="col-sm-auto text-center mt-4 mt-sm-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="icon-container icon-container-md cursor-pointer background-color background-color-seashell d-flex justify-content-center align-items-center">
            <img class="d-block" alt="Keys" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194118/sattrack-arcturus/icons/keys_voi7mt.png" width="25" height="25">
        </div>
    </div>
    <p class="text-size-sm mt-2 mb-0">Keys</p>
</div>